header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: ForestGreen;
    text-decoration: none;
}

.post-entry h2 a:hover {
    color: red;
}